[project]
	description = Cangol-appcore
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Cangol (Cangol)
[access "refs/for/refs/*"]
	read = group user/Cangol (Cangol)
	push = group user/Cangol (Cangol)
	label-Code-Review = -2..+2 group user/Cangol (Cangol)
	label-Verified = -1..+1 group user/Cangol (Cangol)
	rebase = group user/Cangol (Cangol)
	removeReviewer = group user/Cangol (Cangol)
	submit = group user/Cangol (Cangol)
[access "refs/heads/*"]
	read = group user/Cangol (Cangol)
	create = group user/Cangol (Cangol)
	push = +force group user/Cangol (Cangol)
	pushMerge = group user/Cangol (Cangol)
[access "refs/tags/*"]
	push = +force group user/Cangol (Cangol)
	pushTag = group user/Cangol (Cangol)
	pushSignedTag = group user/Cangol (Cangol)
